coin-monitor-process-api/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="coin-monitor-process-api-main">
        <http:listener path="/api/*" config-ref="coin-monitor-process-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="coin-monitor-process-api-config"/>
    </flow>
    <flow name="coin-monitor-process-api-console">
        <http:listener path="/console/*" config-ref="coin-monitor-process-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="coin-monitor-process-api-config"/>
    </flow>
    <flow name="get:\checkCryptosPrice\(id):coin-monitor-process-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="eb2ecbf3-d165-4d0c-9121-95ca5f976c0e" name="checkpricesFlow"/>
    </flow>
    <flow name="get:\readCryptos\(id):coin-monitor-process-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="b9c026dd-4b7e-4eff-9a1c-b81a6f46fea1" name="readCryptos"/>
    </flow>
    <flow name="get:\updateCryptos\(id):coin-monitor-process-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "document with id='620ac2612b9d1665314f5d4a' was updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\deleteCryptos\(id):coin-monitor-process-api-config">
		<flow-ref doc:name="deleteCryptosSubFlow" doc:id="c5e9631f-cf68-4e89-9932-634d1b177ab8" name="deleteCryptosSubFlow"/>
    </flow>
    <flow name="get:\createCryptos:coin-monitor-process-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="c2a0d49b-c0f3-4b26-935f-8e958f558016" name="getCryptos"/>
    </flow>
</mule>
