coin-monitor-process-api/target/classes/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="coin-monitor-process-api-main">
        <http:listener path="/api/*" config-ref="coin-monitor-process-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="coin-monitor-process-api-config" />
    </flow>
    <flow name="coin-monitor-process-api-console">
        <http:listener path="/console/*" config-ref="coin-monitor-process-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="coin-monitor-process-api-config" />
    </flow>
    <flow name="get:\readCryptos\(id):coin-monitor-process-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  oldDate: "2021-12-29T19:24:19.277Z",
  newDate: "2021-12-30T19:24:19.277Z",
  dateDifference: "1 day",
  data: [
    {
      name: "Shiba Inu",
      symbol: "SHIB",
      supply: "589735030408322.8",
      description: "description",
      developmentStatus: "Working product",
      proofType: "Proof of work",
      orgStructure: "Decentralized",
      coin_market_price_oldPriceUsd: "222222.2314\$",
      coin_cap_price_oldPriceUsd: "222222.2314\$",
      coin_market_price_newPriceUsd: "111111.2314\$",
      coin_cap_price_newPriceUsd: "111111.2314\$",
      coin_market_price_priceDifference: "111111.0000\$",
      coin_cap_price_priceDifference: "111111.0000\$",
      coin_market_volume24h: "5104859759.2521515\$",
      coin_cap_volume24h: "3938267657.7141727233030099\$"
    }, 
    {
      name: "Binance USD",
      symbol: "BUSD",
      supply: "16811371368.229256",
      description: "description",
      developmentStatus: "Working product",
      proofType: "Proof of work",
      orgStructure: "Decentralized",
      coin_market_price_oldPriceUsd: "222222.2314\$",
      coin_cap_price_oldPriceUsd: "222222.2314\$",
      coin_market_price_newPriceUsd: "111111.2314\$",
      coin_cap_price_newPriceUsd: "111111.2314\$",
      coin_market_price_priceDifference: "111111.0000\$",
      coin_cap_price_priceDifference: "111111.0000\$",
      coin_market_volume24h: "4886564074.014513\$",
      coin_cap_volume24h: "1014578206.9609374195744720\$"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\deleteCryptos\(id):coin-monitor-process-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="466e932d-2efa-44a7-8cc2-5e66ce1fb1d8" name="deleteCryptosSubFlow" />
    </flow>
    <flow name="get:\checkCryptosPrice\(id):coin-monitor-process-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "prices in document with id='620ac2612b9d1665314f5d4a' was updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\updateCryptos\(id):coin-monitor-process-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "document with id='620ac2612b9d1665314f5d4a' was updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\createCryptos:coin-monitor-process-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "document with id='620ac2612b9d1665314f5d4a' was created"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
